{% extends "base.html" %}

{% macro render_list(items, title) %}
<div class="job-detail-section">
    <h3>{{ title }}</h3>
    <ul>
        {% for item in items %}
        <li class="{% if saved_answers is defined and item['matched'] is not none %}{{ 'matched' if item['matched'] else 'unmatched' }}{% else %}neutral{% endif %}">
            {{ item['item'] | capitalize }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endmacro %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="each-career">
    <h2>{{ job['Job Title'] }}</h2>

    {{ render_list(match_info['abilities'], 'Abilities Required') }}
    {{ render_list(match_info['education'], 'Education Required') }}
    {{ render_list(match_info['certifications'], 'Certifications Required') }}
    {{ render_list(match_info['training'], 'Additional Training Required') }}
    {{ render_list(match_info['skills'], 'Skills Required') }}
    {{ render_list(match_info['knowledge'], 'Knowledge Required') }}
    {{ render_list(match_info['experience'], 'Experience Required') }}

    <div class="job-detail-section">
        <h3>Next Steps</h3>
        {% if suggestions %}
            <p>To improve your match for this job, consider clicking the button:</p>
            <button id="toggle-suggestions" class="button" onclick="toggleSuggestions()">Show Suggestions</button>
            <ul id="suggestions-list" style="display: none;">
                {% for item, resources in suggestions.items() %}
                    <li>
                        <strong>{{ item.capitalize() }}</strong>: 
                        <ul>
                            {% for resource in resources %}
                                <li>{{ resource | capitalize }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You either have not taken the quiz yet, there is no available resources, or you don't need any next steps. </p>
        {% endif %}
    </div>

    <div class="job-detail-section">
        <h3>Google Trends Insights</h3>
        {% if trends_data is not none and not trends_data.empty %}
            {% if percent_change is not none %}
                <p>Interest has changed by 
                    <span style="font-size: 1.2em; color: {% if percent_change >= 10 %}green{% elif percent_change >= 0 %}orange{% else %}red{% endif %};">
                    {{ percent_change|round(2) }}%
                    </span> over the past 5 years.
                </p>
            {% else %}
                <p>No sufficient trend data available for this job title over the past 5 years.</p>
            {% endif %}
        {% else %}
            <p>No trend data available for this job title.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block debug %}
<div class="debug-container">
    <h3>Debug Information</h3>

    <p><strong>Overall Match Percentage:</strong> {{ match_percentage }}%</p>
    <h4>User Inputs</h4>
    {% if saved_answers is defined %}
        <ul>
            {% for key, values in saved_answers.items() %}
                <li><strong>{{ key|capitalize }}:</strong></li>
                {% if values %}
                    <ul>
                        {% if values is string %}
                            <li>{{ values }}</li>
                        {% else %}
                            {% for value in values %}
                                <li>{{ value | capitalize }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {% else %}
                    <li>N/A</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No user inputs available.</p>
    {% endif %}

    <h4>Calculation Details</h4>
    <p><strong>Total Possible Matches:</strong> {{ total_possible_matches }}</p>
    <p><strong>Total Matches Found:</strong> {{ total_matches }}</p>

    <h4>Match Details</h4>
    <ul>
        {% for category, matches in match_details %}
            <li><strong>{{ category | capitalize }}:</strong>
                <ul>
                    {% for match in matches %}
                        <li>{{ match | capitalize }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}